<button class="btn btn-primary"  (click)="viewAllTestQuestions(id.value)" #id>all TestQuestions</button>
<div *ngFor="let tq of testQuestion" style="background-color:rgb(36, 87, 225);">
    <table>
        <tr>
            <td>
                <p>{{tq.question}}</p>
                <h2>{{tq.option1}} </h2>
                <hr />
                <hr />
                <p> Option1 : {{tq.option1}} </p>
                <br>
                <p> Option2 : {{tq.option2}}</p>
                <br>
                <p> Option3 : {{tq.option3}}</p>
                <br>
                <p> Option4 : {{tq.option4}}</p>
                <br>

                <p> Correct Answer{{tq.correctAnswer}}</p>
                <br>
            </td>
        </tr>
        <hr>
    </table>
    </div>
    <br>
